<div class="signup-container">
    <div class="ui-g-12" style="width: 100%;">
      <p-messages [closable]="true"></p-messages>
    </div>
    <h1>Sign Up</h1>
      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <label for="name">Name:</label>
        <input type="text" id="name" pInputText name="name" formControlName="name">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" formControlName="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"formControlName="password">
        <input type="submit" value="Sign Up" class="button">
      </form>
      <p>Already have an account? <a href="#">Sign in</a></p>
    </div>